In [149]:
# Mars Facts
# Homework 12 Web Scraping
# 10/17/2019

#### Mars Facts

* Visit the Mars Facts webpage [here](https://space-facts.com/mars/) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [150]:
#Dependencies
import requests
import os
from bs4 import BeautifulSoup as bs
import pymongo
from splinter import Browser
import pandas as pd
import time
import urllib.request

In [151]:
executable_path = {"executable_path": "/___Rice/HomeWork/Home_Work_12_Web_Scraping/WIP/2/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [152]:
# Scraping 4: Scraping for table of Mars facts
url="https://space-facts.com/mars/"
browser.visit(url)

In [153]:
html=browser.html

In [154]:
# To assure that all data sent by the website gets captured 
time.sleep(3)

In [155]:
soup=bs(html, 'html.parser')

In [156]:
# Closing the browser so as NOT to overload Windows System
browser.quit()

In [157]:
# Saving the HTML data to a file for future reference or possible use
with open('Mars_Facts_Table.txt', 'w', encoding='utf-8') as f_out:
    f_out.write(soup.prettify())

In [168]:
table = soup.find('table')  #, attrs={'class':'subs noBorders evenRows'})
table_rows = table.find_all('tr')
print(len(table_rows))
for tr in table_rows:
    print(tr)

7
<tr class="row-1"><th class="column-1"><strong>Mars - Earth Comparison</strong></th><th class="column-2"><span class="mars">Mars</span></th><th class="column-3"><span class="earth">Earth</span></th></tr>
<tr class="row-2"><td class="column-1">Diameter:</td><td class="column-2"><span class="mars-s">6,779 km</span></td><td class="column-3"><span class="earth-s">12,742 km</span></td></tr>
<tr class="row-3"><td class="column-1">Mass:</td><td class="column-2"><span class="mars-s">6.39 × 10^23 kg</span></td><td class="column-3"><span class="earth-s">5.97 × 10^24 kg</span></td></tr>
<tr class="row-4"><td class="column-1">Moons:</td><td class="column-2"><span class="mars-s">2</span></td><td class="column-3"><span class="earth-s">1</span></td></tr>
<tr class="row-5"><td class="column-1">Distance from Sun:</td><td class="column-2"><span class="mars-s">227,943,824 km</span></td><td class="column-3"><span class="earth-s">149,598,262 km</span></td></tr>
<tr class="row-6"><td class="column-1">Length of Year:</td><td class="column-2"><span class="mars-s">687 Earth days</span></td><td class="column-3"><span class="earth-s">365.24 days</span></td></tr>
<tr class="row-7"><td class="column-1">Temperature:</td><td class="column-2"><span class="mars-s">-153 to 20 °C</span></td><td class="column-3"><span class="earth-s">-88 to 58°C</span></td></tr>

In [170]:
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    print(row)
    l.append(row)
pd.DataFrame(l, columns=["A", "B", ...])

[]
['Diameter:', '6,779 km', '12,742 km']
['Mass:', '6.39 × 10^23 kg', '5.97 × 10^24 kg']
['Moons:', '2', '1']
['Distance from Sun:', '227,943,824 km', '149,598,262 km']
['Length of Year:', '687 Earth days', '365.24 days']
['Temperature:', '-153 to 20 °C', '-88 to 58°C']

                    A                B         Ellipsis
0                None             None             None
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:    -153 to 20 °C      -88 to 58°C

In [158]:
element='section'
selectsoup = soup.find_all(element)
print(len(selectsoup))

2

In [159]:
lookfor="6,792 km"
xcount=0
foundcnt=0
for asoup in selectsoup:
    xcount=xcount+1
    aselem=asoup.find(element)
    textis=str(aselem)
    #print(aselem)
    if not "None" in textis:
        if lookfor in textis:
            foundcnt=foundcnt+1
            print(f"\n>>>====================================================================[{xcount}]====[{foundcnt}]")
            print(textis)

In [165]:
for aselection in selectsoup:
    select_A=aselection.find('aside')
    strselect=str(select_A)
    if not "None" in strselect:
        tds=select_A.find_all('td')
        print(len(tds))
        for td in tds:
            print (td)

18
<td class="column-1"><strong>Equatorial Diameter:</strong></td>
<td class="column-2">6,792 km<br/></td>
<td class="column-1"><strong>Polar Diameter:</strong></td>
<td class="column-2">6,752 km<br/></td>
<td class="column-1"><strong>Mass:</strong></td>
<td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td>
<td class="column-1"><strong>Moons:</strong></td>
<td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td>
<td class="column-1"><strong>Orbit Distance:</strong></td>
<td class="column-2">227,943,824 km<br/> (1.38 AU)</td>
<td class="column-1"><strong>Orbit Period:</strong></td>
<td class="column-2">687 days (1.9 years)<br/></td>
<td class="column-1"><strong>Surface Temperature: </strong></td>
<td class="column-2">-87 to -5 °C</td>
<td class="column-1"><strong>First Record:</strong></td>
<td class="column-2">2nd millennium BC</td>
<td class="column-1"><strong>Recorded By:</strong></td>
<td class="column-2">Egyptian astronomers</td>